.container-drawer-dashboard {
  display: flex;
  flex-direction: column;
}
.list-dashboard-container {
  margin-top: 70px !important;
}
.top-list-component {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.tab-container {
  padding: 0 20px;
}
.dashboard-content {
  flex-grow: 1;
  overflow: auto;
}

.topbookcontainer {
  min-width: 300px !important;
  min-height: 350px !important;
  border: 1px solid black;
  margin-top: 40px;
  padding-top: 20px;
  background: linear-gradient(to bottom, #c32da5, #673ab7);
  color: white;
  border-radius: 25px;
}
